header{
    background-color: var(--white);
    box-shadow: none;
    transition: 500ms;
    &.active{transition: 500ms;
        transition: 500ms;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    }
    .navbar{
        .navbar-brand{
            display: inline-flex;
            align-items: center;
            &:hover{
                span{
                    transition: 500ms;
                    &.aqua-blue{
                        color: var(--aqua-blue);
                    }
                    &.orange-red{
                        color: var(--orange-red);
                    }
                }
            }
            img{
                width: 200px;
                @media screen and (max-width: 991px) {
                    width: 150px;
                }
            }
            span{
                transition: 500ms;
                color: rgb(51, 51, 51);
                font-size: 25px;
                font-weight: 500;
                margin-left: 5px;
            }
        }
        .navbar-nav{
            .btn-orange-red, .btn-aqua-blue{
                width: 120px;
             }
        }
    }
}
