.generate{

    /*header*/
    header{
        .btn-aqua-blue{
            width: 120px;
        }
    }

    /*form content*/
    .page_content{
        .avatar{
            .avatar_label{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgb(65 224 153 / 16%);
                height: 150px;
                width: 150px;
                cursor: pointer;
                img{
                    height: 60px;
                    width: 60px;
                }
            }

            .img{
                position: relative;
                height: 150px;
                width: 150px;
                &:hover{
                    .remove-avatar{
                        transition: 500ms;
                        visibility: visible;
                        opacity: 1;
                    }
                }
                img{
                    height: 100%;
                    width: 100%;
                    max-width: 100%;
                    border-radius: 50%;
                }
                .remove-avatar{
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: rgba(0, 0, 0, .4);
                    visibility: hidden;
                    opacity: 0;
                    transition: 500ms;
                    img{
                        height: 20px;
                        width: 20px;
                    }
                }
            }
        }

        .form-group{
            .form-control{
                background-color: #f8f9fa;
                height: 48px;
                border-radius: 8px;
                padding: 16px;
                border: 1px solid transparent;
                transition: 500ms;
                &:focus{
                    transition: 500ms;
                    box-shadow: none;
                    border: 1px solid var(--aqua-blue);
                }
            }

            textarea{
                &.form-control{
                    height: auto;
                }
            }
        }

        .remove, .add{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
        }
        .add{
            padding: 8px 15px;
            @media screen and (max-width: 575px) {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                padding: 0;
            }
        }
        .remove{
            height: 40px;
            width: 40px;
            padding: 0;
        }
    }
}



