/* btn */
.btn-orange-red{
    background-color: var(--orange-red);
    color: var(--white);
    text-transform: uppercase;
    transition: .3s all ease-in-out;
    font-weight: 600;
    font-size: 14px;

    &:hover {
        transition: .3s all ease-in-out;
        background-color: darken(#ff4f4f, 10%);

    }
}

.btn-orange-red-outline{
    background-color: transparent;
    border: 2px solid var(--orange-red);
    color: var(--orange-red);
    text-transform: uppercase;
    transition: .3s all ease-in-out;
    font-weight: 600;
    font-size: 14px;

    &:hover {
        transition: .3s all ease-in-out;
        background-color: var(--orange-red);
        color: var(--white);
    }
}
.btn-aqua-blue{
    background-color: var(--aqua-blue);
    color: var(--white);
    text-transform: uppercase;
    transition: .3s all ease-in-out;
    font-weight: 600;
    font-size: 14px;

    &:hover {
        transition: .3s all ease-in-out;
        background-color: darken(#41e099, 10%);
        color: var(--white);
    }
}

.btn-aqua-blue-outline{
    background-color: transparent;
    border: 2px solid var(--aqua-blue);
    color: var(--aqua-blue);
    text-transform: uppercase;
    transition: .3s all ease-in-out;
    font-weight: 600;
    font-size: 14px;

    &:hover {
        transition: .3s all ease-in-out;
        background-color: var(--aqua-blue);
        color: var(--white);
    }
}

.form-control{
    &.is-invalid{
        border-color: var(--orange-red)!important;
    }
}

.error-report{
    font-size: 14px;
    color: var(--orange-red);
}

img{
    max-width: 100%;
}

.spin {
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.page_title{
    display: inline-block;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 50px;
    &:after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: var(--aqua-blue);
        width: 150%;
        display: block;
        height: 3px;
    }
}

.page_content{
    position: relative;
    top: 150px;
    @media screen and (max-width: 991px){
        top: 120px;
    }
}


header{
    .logo{
        img{
            width: 200px;
            @media screen and (max-width: 991px){
                width: 150px;
            }
        }
    }
}


.view-modal{
    .modal-body{
        padding: 60px 40px 40px;
        .img{
            text-align: center;
            img{
                height: 600px;
                object-fit: contain;
                @media screen and (max-width: 575px) {
                    height: 400px;
                }
            }
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
