.home{
    color: #212529;

    &.landing-page{
        .section-title{
            color: var(--aqua-blue);
        }
        .banner{
            .promo{
                background-color: #00d9e21c;
                span{
                    color: var(--aqua-blue);
                }
            }
            .title{
                color: var(--aqua-blue);
            }
        }
        .service{
            .service-item{
                .info{
                    .title{
                        color: var(--aqua-blue);
                    }
                }
            }
        }
        .feature{
            .feature-item{
                .title{
                    color: var(--aqua-blue);
                }
            }
        }
        .testimonial{
            .testimonial-item{
                .icon{
                    &:after{
                        border-top: 100px solid var(--aqua-blue);
                    }
                }
                .name{
                    color: var(--aqua-blue);
                }
            }
        }
    }

    &.landing-page-two{
        .section-title{
            color: var(--orange-red);
        }
        .banner{
            .promo{
                background-color: #ff4f4f2b;
                span{
                    color: var(--orange-red);
                }
            }
            .title{
                color: var(--orange-red);
            }
        }
        .service{
            .service-item{
                .info{
                    .title{
                        color: var(--orange-red);
                    }
                }
            }
        }
        .feature{
            .feature-item{
                .title{
                    color: var(--orange-red);
                }
            }
        }
        .testimonial{
            .testimonial-item{
                .icon{
                    &:after{
                        border-top: 100px solid var(--orange-red);
                    }
                }
                .name{
                    color: var(--orange-red);
                }
            }
        }
    }

    .colors{
        span{
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            margin-right: 2px;
            &:nth-child(1){
                background-color: #00a8ff;
            }
            &:nth-child(2){
                background-color: #9c88ff;
            }
            &:nth-child(3){
                background-color: #fbc531;
            }
            &:nth-child(4){
                background-color: #4cd137;
            }
            &:nth-child(5){
                background-color: #487eb0;
            }
            &:nth-child(6){
                background-color: #e84118;
            }
            &:nth-child(7){
                background-color: #8c7ae6;
            }
        }
    }

    .section-title{
        font-size: 30px;
        font-weight: 600;
        @media screen and (max-width: 575px) {
            font-size: 25px;
        }
    }

    /*banner section*/
    .banner{
        position: relative;
        min-height: 700px;
        display: flex;
        align-items: center;
        @media screen and (max-width: 1199px) {
            padding-top: 100px;
        }
        @media screen and (max-width: 991px) {
            min-height: auto;
        }
        .content{
            margin-top: 60px;
            .left-content{
                .promo{
                    padding: 8px 15px;
                    span{
                        font-weight: 600;
                        margin-left: 10px;
                        @media screen and (max-width: 450px) {
                            font-size: 13px;
                            margin-left: 0px;
                        }
                    }
                }
                .title{
                    font-size: 45px;
                    font-weight: 600;
                    margin: 30px 0;
                    @media screen and (max-width: 767px) {
                        font-size: 30px;
                    }
                }
                .desc{
                    color: #888;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 1.9;
                    @media screen and (max-width: 767px) {
                        font-size: 16px;
                    }
                }
                .buttons{
                    margin-top: 30px;
                    @media screen and (max-width: 450px) {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                    .btn-orange-red, .btn-aqua-blue{
                        width: 200px;
                        padding: 12px;
                        @media screen and (max-width: 450px) {
                            &:first-child{
                                margin-bottom: 10px;
                                margin-right: 0!important;
                            }
                        }
                    }
                }
            }
            .right-content{
                @media screen and (max-width: 450px) {
                    margin-top: 50px;
                }
            }
        }
    }

    /*service section*/
    .service{
        padding: 100px 0;
        background-repeat: no-repeat;
        @media screen and (max-width: 991px) {
            padding-bottom: 0;
        }
        .content{
            .left-content{
                .service-item{
                    box-shadow: 0px 2px 27px 0px rgba(154, 161, 171, 0.18);
                    padding: 25px;
                    margin-bottom: 20px;
                    background: #fff;
                    border: 1px solid #eee;
                    display: flex;
                    align-items: center;
                    .icon{
                        margin-right: 20px;
                    }
                    .info{
                        .title{
                            font-size: 20px;
                            font-weight: 500;
                            margin-bottom: 8px;
                            @media screen and (max-width: 450px) {
                                font-size: 16px;
                            }
                        }
                        .desc{
                            @media screen and (max-width: 450px) {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            .right-content{
                padding-left: 10px;
                .section-title{
                    margin: 30px 0;
                }
                .desc{
                    color: #888;
                    margin-bottom: 30px;
                    line-height: 1.9;
                    padding-right: 90px;
                    @media screen and (max-width: 767px) {
                        padding-right: 10px;
                    }

                }
                .btn-orange-red, .btn-aqua-blue{
                    padding: 12px 20px;
                }
            }
        }
    }

    /*about section*/
    .about{
        padding: 100px 0;
        .content{
            .left-content{
                .section-title{
                    margin: 30px 0;
                }
                .desc{
                    padding-left: 0;
                    margin-bottom: 0;
                    li{
                        list-style: none;
                        margin-bottom: 20px;
                        font-weight: 500;
                        line-height: 20px;
                        font-size: 18px;
                        @media screen and (max-width: 460px) {
                            font-size: 14px;
                        }
                        img{
                            margin-right: 10px;
                            @media screen and (max-width: 460px) {
                                height: 25px;
                                width: 25px;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }
    }

    /*subscribe*/
    /*.subscribe{
        padding-bottom: 100px;
            .content{
                position: relative;
                padding: 50px 20px;
                background: #fff;
                border-radius: 15px;
                overflow: hidden;
                box-shadow: 0 5px 40px 0 rgb(0, 0, 0, .11);
                @media screen and (max-width: 1199px) {
                    padding: 25px 20px;
                }
                .custom-cv{
                    position: absolute;
                    top: 0;
                    left: 0;
                    @media screen and (max-width: 767px) {
                        display: none;
                    }
                }
                .right-content{
                    align-items: center;
                    justify-content: space-between;
                    margin-left: 320px;
                    padding: 12px 0;
                    @media screen and (max-width: 991px) {
                        margin-left: 289px;
                    }
                    @media screen and (max-width: 767px) {
                        margin-left: 0;
                    }
                    .section-title{
                        @media screen and (max-width: 991px) {
                            margin-bottom: 19px;
                            font-size: 25px;
                        }
                    }
                    .btn-aqua-blue-outline{
                        padding: 10px 30px;
                        text-transform: initial;
                    }
                }
            }
    }*/
    .subscribe{
        padding-bottom: 100px;
        .content{
            position: relative;
            padding: 50px 20px;
            background: #fff;
            border-radius: 15px;
            overflow: hidden;
            box-shadow: 0 5px 40px 0 rgb(0, 0, 0, .11);
            @media screen and (max-width: 1199px) {
                padding: 25px 20px;
            }

            .img{
                position: absolute;
                top: 0;
                left: 0;
                height: 220px;
                width: 320px;
                z-index: 1;
                @media screen and (max-width: 767px) {
                    display: none;
                }
                &.orange-red{
                    &:after{
                        background-color: var(--orange-red);
                    }
                }
                &.aqua-blue{
                    &:after{
                        background-color: var(--aqua-blue);
                    }
                }
                &:before{
                    top: -145px;
                    left: -102px;
                    background-color: #ccd7e8;
                }
                &:after{
                    top: -160px;
                    left: -113px;
                }
                &:before, &:after{
                    content: "";
                    display: block;
                    position: absolute;
                    height: 320px;
                    width: 360px;
                    border-radius: 50%;
                    z-index: -1;
                }
                img{
                    height: 80px;
                    width: 80px;
                    position: relative;
                    top: 13%;
                    left: 21%;
                }
            }
            .right-content{
                align-items: center;
                justify-content: space-between;
                margin-left: 320px;
                padding: 12px 0;
                @media screen and (max-width: 991px) {
                    margin-left: 289px;
                }
                @media screen and (max-width: 767px) {
                    margin-left: 0;
                }
                .section-title{
                    @media screen and (max-width: 991px) {
                        margin-bottom: 19px;
                        font-size: 25px;
                    }
                }
                .btn-orange-red-outline, .btn-aqua-blue-outline{
                    padding: 10px 30px;
                    text-transform: initial;
                }
            }
        }
    }

    /*pricing*/
    .pricing{
        padding-bottom: 100px;
        .content{
            .left-content{
                margin-right: 30px;
                .section-title{
                    padding: 30px 0;
                }
                .desc{
                    color: #888;
                    line-height: 1.98;
                }
                .free-trial{
                    text-align: center;
                    border: 1px solid var(--aqua-blue);
                    padding: 15px;
                    margin: 20px 0;
                    .title{
                        font-weight: 600;
                        color: var(--aqua-blue);
                    }
                    .sub-title{
                        color: var(--aqua-blue);
                    }
                }
                .policy{
                    .title{
                        color: var(--aqua-blue);
                    }
                    .sub-title{
                        color: #888;
                    }
                }
            }

            .pricing-item{
                padding: 0 0 40px;
                position: relative;
                z-index: 2;
                border-radius: 6px;
                box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);
                width: 95%;
                margin: 0 auto 20px;
                @media screen and (max-width: 1199px) {
                    width: 100%;
                }
                .package{
                    margin-bottom: 20px;
                    padding: 52px 30px;
                    text-align: right;
                    background: no-repeat top right;
                    background-size: 75%;
                    @media screen and (max-width: 1199px) {
                        padding: 30px;
                    }
                    @media screen and (max-width: 991px) {
                        padding: 40px 30px;
                    }
                    .amount{
                        font-size: 40px;
                        font-weight: 700;
                        color: #fff;
                        margin-bottom: 10px;
                        line-height: 1;
                    }
                    .type{
                        color: var(--aqua-blue);
                        font-weight: 700;
                        font-size: 18px;
                    }
                }
                .section-title{
                    padding: 10px 0 20px;
                }
                .desc{
                    color: #888;
                    line-height: 1.9;
                    margin-bottom: 20px;
                    width: 90%;
                    @media screen and (max-width: 1199px) {
                        width: 100%;
                    }
                }
                .btn-orange-red-outline, .btn-aqua-blue-outline{
                    text-transform: initial;
                    padding: 12px 40px;
                }
            }
        }
    }

    /*cv template*/
    .cv-template{
        padding: 100px 0;
        background: no-repeat center center;
        background-size: cover;
        .content{
            .template-item{
                box-shadow: 0 2px 28px rgba(0,0,0,.1);
                transition: all .3s ease-in;
                overflow: hidden;
                background: #fff;
                margin-bottom: 30px;
                border: 2px solid transparent;
                &.orange-red{
                    &:hover{
                        box-shadow: 0 0 2rem -0.5rem var(--orange-red);
                        border: 2px solid var(--orange-red);
                    }
                    .img{
                        background-color: var(--orange-red);
                    }
                }
                &.aqua-blue{
                    &:hover{
                        box-shadow: 0 0 2rem -0.5rem var(--aqua-blue);
                        border: 2px solid var(--aqua-blue);
                    }
                    .img{
                        background-color: var(--aqua-blue);
                    }
                }
                .img{
                    padding: 25px 40px;
                    @media screen and (max-width: 991px) {
                        padding: 20px;
                    }
                }
                .buttons{
                    padding: 25px 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    @media screen and (max-width: 991px) {
                        padding: 20px 12px;
                    }
                    .btn{
                        padding: 10px 20px;
                        font-weight: 600;
                        font-size: 14px;
                        @media screen and (max-width: 1399px) {
                            padding: 10px 12px;
                        }
                    }
                }
            }
        }
    }

    /*feature*/
    .feature{
        padding: 100px 0;
        .content{
            width: 85%;
            margin: 0 auto;
            @media screen and (max-width: 1399px) {
                width: 100%;
            }
            .feature-item{
                position: relative;
                z-index: 1;
                padding: 30px 15px;
                box-shadow: 0 5px 40px 0 rgba(0, 0, 0, .11);
                background: #fff;
                border-radius: 15px;
                text-align: center;
                width: 97%;
                margin: 0 auto 30px;
                @media screen and (max-width: 1399px) {
                    width: 100%;
                }
                .title{
                    font-size: 18px;
                    font-weight: bold;
                    margin: 20px 0;
                }
                .desc{
                    color: #888;
                    line-height: 1.9;
                }
            }
        }
    }

    /*testimonial*/
    .testimonial{
        padding-bottom: 100px!important;
        padding-top: 0!important;
        .content{
            .testimonial-item{
                border-radius: 15px;
                border: 1px solid #eee;
                position: relative;
                margin: 0 15px;
                overflow: hidden;
                padding: 30px 20px;
                text-align: center;
                .icon{
                    &:after{
                        content: '';
                        border-right: 100px solid transparent;
                        position: absolute;
                        left: 0px;
                        top: 0px;
                    }
                    i{
                        top: 20px;
                        left: 15px;
                        color: #fff;
                        font-size: 36px;
                        z-index: 3;
                        position: absolute;
                    }
                }
                .img{
                    img{
                        height: 100px;
                        width: 100px;
                        border-radius: 50%;
                        margin: 0 auto;
                    }
                }
                .desc{
                    margin: 20px 0;
                    color: #888;
                    line-height: 1.9;
                }
                .name{
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 5px;
                }
                .role{
                    color: #888;
                    font-weight: 500;
                }
            }
        }
    }


    .cv-template, .feature, .testimonial{
        padding: 100px 0;
        .header{
            text-align: center;
            margin-bottom: 50px;
            .section-title{
                padding: 20px 0;
            }
            .desc{
                color: #888;
                max-width: 600px;
                line-height: 1.9;
                margin: 0 auto;
            }
        }
    }

}
