.landing-page-two{
    header{
        background-color: var(--white);
        transition: 500ms;
        &.active{transition: 500ms;
            transition: 500ms;
            background-color: #ccd7e8;
        }
        .navbar{
            .navbar-brand{
                display: inline-flex;
                align-items: center;
                &:hover{
                    span{
                        transition: 500ms;
                        color: var(--orange-red);
                    }
                }
                span{
                    transition: 500ms;
                    color: rgb(51, 51, 51);
                    font-size: 25px;
                    font-weight: 500;
                    margin-left: 5px;
                }
            }
            .navbar-nav{
                .btn-orange-red{
                    width: 120px;
                }
            }
        }
    }
}
